
*.log
Full-Stack/5 - Relaciones/5 - EjerciciosRelaciones/.project
Full-Stack/5 - Relaciones/5 - EjerciciosRelaciones/.classpath
Full-Stack/4 - Colecciones/4 - EjerciciosColeccionesExtras/src/Ejercicio1/.project
*.json
*.bak
Full-Stack/8 - MySQL/Scripts/Script.sql
