table{
    border: 5px;
    border-collapse: collapse;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td{
    padding: 5px;
}

.headd{
    font-weight: bold;
    background-color: lightgray;
}

.roww{
    background-color: lightyellow;
}


.columna{
    font-weight: bold;
    text-align: left;
    background-color: lightcyan;
}